@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-text {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

body {
  background-color: theme('colors.background');
  color: theme('colors.dark');
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
